In [88]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [89]:
movies=pd.read_csv('C:/Users/HP/Desktop/Movie Reccomender/data/tmdb_5000_movies.csv')
credits=pd.read_csv('C:/Users/HP/Desktop/Movie Reccomender/data/tmdb_5000_credits.csv')

In [90]:
# movies.head()

In [91]:
# movies.shape

In [92]:
# movies.tail()

In [93]:
movies=movies.merge(credits,on='title')

In [94]:
# movies.iloc[0]
# movies['original_language'].value_counts()

In [95]:
# movies.columns

In [96]:
movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [97]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [98]:
movies.dropna(inplace=True) #dropna delete permanently null values using inplace=True

In [99]:
# movies.duplicated().sum()

In [100]:
# movies.iloc[0]['genres']

In [101]:
# import ast #use for converting string to dictionary
# ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

In [102]:
import ast

def convert(text):
    l=[]
    for i in ast.literal_eval(text):
        l.append(i['name'])
        
    return l

In [103]:
# movies['genres'].apply(convert) this will apply convert function on movies['genres']
movies['genres']=movies['genres'].apply(convert)

In [104]:
movies['keywords']=movies['keywords'].apply(convert)

In [105]:
# movies.iloc[0]['cast']
def convert_cast(text):
    l=[]
    counter=0
    for i in ast.literal_eval(text):
        if counter<3:
            l.append(i['name'])
        counter=counter+1
        
    return l

In [106]:
movies['cast']=movies['cast'].apply(convert_cast)
# movies.head(2)

In [107]:
# movies.iloc[0]['crew']
def fetch_director(text):
    l=[]
    for i in ast.literal_eval(text):
        if i['job']=='Director':
            l.append(i['name'])
            break
        
    return l

movies['crew']=movies['crew'].apply(fetch_director)
# movies.head(2)

In [108]:
movies['overview']=movies['overview'].apply(lambda x:x.split()) #used for converting string into list separated by commas
# movies.head(2)

In [109]:
# Sam Worthington
# SamWorthington remove space to avoid duplication and confusing from names

def remove_space(word):
    l=[]
    
    for i in word:
        l.append(i.replace(" ",""))
    
    return l   


movies['cast']=movies['cast'].apply(remove_space)
movies['crew']=movies['crew'].apply(remove_space)
movies['genres']=movies['genres'].apply(remove_space)
movies['keywords']=movies['keywords'].apply(remove_space)

In [110]:
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew'] #concat for tags used in recommendation
# movies.head(1)
# movies.iloc[0]['tags']

In [111]:
new_df=movies[['movie_id','title','tags']]
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [112]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x)) #used for making tags col into paragaraph instead of , separated
# new_df.head()
# new_df.iloc[1]['tags']

C:\Users\HP\AppData\Local\Temp\ipykernel_9928\2057404323.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x)) #used for making tags col into paragaraph instead of , separated

In [113]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower()) #converting all into lowercase recommended for perfect match
# new_df.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_9928\266722819.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower()) #converting all into lowercase recommended for perfect match

In [114]:
import nltk
from nltk.stem import PorterStemmer
ps=PorterStemmer()

In [115]:
def stems(text):
    l=[]
    for i in text.split():
        l.append(ps.stem(i))
    return " ".join(l)

new_df['tags']=new_df['tags'].apply(stems)
# new_df.iloc[0]['tags']

C:\Users\HP\AppData\Local\Temp\ipykernel_9928\3517118112.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stems)

In [116]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english') #stopwords used for get rid of is are and non-meaningful words from tags

In [117]:
vector = cv.fit_transform(new_df['tags']).toarray() #it turns the text data from extracted vocabulary(using fit_transform) into a matrix of numbers(using toarray) that can be used for machine learning.
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [118]:
# vector.shape

In [119]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vector)

In [120]:
# similarity
# similarity.shape #(4806,4806) tells 4806 documents have been exactly matched with cosine similarities

In [121]:
# new_df[new_df['title']=='Spider-Man'].index[0] #it will return the first index of title which is Spider-Man(159) in this case

In [124]:
def recommend(movie):
    index=new_df[new_df['title'] == movie].index[0]
    distances=sorted(list(enumerate(similarity[index])),reverse=True ,key =lambda x:x[1])
    for i in distances[1:6]: #for recommending first 5 movies with high similarities
        print(new_df.iloc[i[0]].title)

In [125]:
recommend('Spider-Man')

Spider-Man 3
Spider-Man 2
The Amazing Spider-Man 2
Arachnophobia
Kick-Ass

In [126]:
import pickle

pickle.dump(new_df,open('artifacts/movie_list.pkl','wb'))
pickle.dump(similarity,open('artifacts/similarity.pkl','wb'))